<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--Minimum year to populate year dropdown-->
    <add key="MinYear" value="10"/>
    <!--Name pattern to check for moving files-->
    <add key="NamePattern" value="YYYYMMDD, YYYY-MM-DD"/>
    <add key="SrcPath" value="C:\Users\hari1\Downloads\Test\Img"/>
    <add key="DestPath" value="C:\Users\hari1\Downloads\Test\Img"/>
  </appSettings>
</configuration>